<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <i class="fa fa-map-pin"></i>
                Fuse
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li><a href="" data-toggle="modal" data-target=".modal#fc-create-group">
                    <i class="fa fa-plus"></i>
                    Create group
                </a></li>

                
                 {{#if username}}
                    <li><a href="/signin">
                    Hello {{username}}
                </a></li>
                 {{else}}
                 <li><a href="/signin">
                    Sign in 
                </a></li>
                {{/if}}
               

                <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">
                    <i class="fa fa-bell"></i>
                </a></li>
                <li><a href="#">
                    <i class="fa fa-cog"></i>
                    Preferences
                </a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="fc-main-container">  
    {{!-- left side sidebar --}}
    <div class="fc-sidebar">
        {{!-- the list of groups inside the sidebar; will be filled using JS --}}
        <div class="fc-sidebar-heading">Groups Near You</div>
        <ul class="fc-group-list">
            {{#each groups}}
                <a class="fc-group-list-item-link" href="javascript:G.setGroupAsSelected('{{this.name}}')">
                    {{#if this.selected}}
                    <li class="fc-group-list-item" data-name="{{this.name}}" data-id="{{this.id}}" data-selected="true" data-number>
                    {{else }}
                    <li class="fc-group-list-item" data-name="{{this.name}}" data-id="{{this.id}}" data-number>
                    {{/if}}
                        <div class="fc-group-list-item-name">{{this.name}}</div>
                        <div class="fc-group-list-item-number"></div>
                    </li>
                </a>
            {{/each}}
        </ul>
    </div>
    {{!-- the right side chat view --}}
    <div class="fc-chat-view">
        {{!-- the list of messages --}}
        <ul id="fc-messages">
            {{#each selectedGroup.messages}}
                <li>{{this.body}}</li>
            {{/each}}
        </ul>
        {{!-- the area to type new messages into --}}
        <div class="chat-input">
            <form action="" id="fc-message-form">
              <input class="form-control" id="fc-m" autocomplete="off" /><button class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
</div>

{{!-- the create group modal --}}
<div class="modal" id="fc-create-group">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="form-group">
                <input class="form-control fc-group-name" type="text" placeholder="Group name">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default fc-cancel" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary fc-create" data-dismiss="modal">Create group</button>
            </div>
        </div>
    </div>
</div>
